<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark navegador">
    <a class="navbar-brand" href="#">Artesans</a> <img style="width: 40px; height: auto;"
      src="./assets/images/logo.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 20px;" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/blog']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog/:localId']">Cervecerías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/new']">Buscador</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</main>

<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-5 mb-5" style="height: 230px;">
  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-md-12 mb-4">

        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft05.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-2 col-md-6 mb-4">


        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft06.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-2 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft04.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

      <div class="col-lg-2 col-md-12 mb-4">

        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft03.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

      <div class="col-lg-2 col-md-6 mb-4">

        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft02.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>

      <div class="col-lg-2 col-md-6 mb-4">


        <div class="view overlay z-depth-1-half">
          <img src="http://www.barcelonabeercompany.com/img/barcelona-beer-company-ft01.jpg" class="img-fluid" alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
    </div>
  </div>



  <div class="footer-copyright text-center py-3 fixed-bottom bg-dark mt-5" style="color: bisque; height: 50px;">© 2020
    Copyright:
    <a href="https://mdbootstrap.com/"> ArtesansCo</a>
  </div>


</footer>
